@model SistemaRepuesto.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row offset-4">
        <div class="card o-hidden border-bottom-primary shadow-lg h-100" style="width:18rem;">
            <img src="~/Content/Imagenes/@Model.CliImagen" class="card-img-top w-100 h-50" />
            <div class="card-body">
                <h5 class="card-title text-gray-500"><b>@Model.Nombre @Model.Apellidos</b></h5>
                <p class="card-text text-gray-500">
                    <b>Dirección: </b>@Html.DisplayFor(model => model.Direccion)
                <p />
                <p class="card-text text-gray-500">
                    <b>Telefono: </b>@Html.DisplayFor(model => model.Telefono)
                <p />
                <p class="card-text text-gray-500">
                    <b>Email: </b>@Html.DisplayFor(model => model.Email)
                <p />
                <p class="card-text text-gray-500">
                    <b>Cedula: </b>@Html.DisplayFor(model => model.Num_Documento)
                <p />
                <p class="card-text text-gray-500">
                    <b>Nacimiento: </b>@Html.DisplayFor(model => model.Fecha_Nacimiento)
                </p>
                <p class="card-text text-gray-500">
                    <b>Sexo: </b>@Html.DisplayFor(model => model.Sexo)
                </p>
                <p class="card-text">
                    @Html.ActionLink(" Editar", "Edit", new { id = Model.Id }, new { @class = "fa fa-edit" })
                <p />
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink(" Back to List", "Index", null, new { @class = "fa fa-home" })
</p>