@model IEnumerable<SistemaRepuesto.Models.Proveedore>

@{
    ViewBag.Title = "Index";
}

<div class="card o-hidden border-0 shadow mb-2">
    <div class="card-body">
        <div class="col-auto float-right">
            <i class="fas fa-wrench fa-3x text-gray-300"></i>
        </div>
        <h2 class="card-title text-primary">Proveedores</h2>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-responsive table-bordered dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <th>Imagen</th>
                        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
                        <th>@Html.DisplayNameFor(model => model.Razon_Social)</th>
                        <th>@Html.DisplayNameFor(model => model.RNC)</th>
                        <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                        <th>@Html.DisplayNameFor(model => model.Sector_Comercial)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        @*<th>@Html.DisplayNameFor(model => model.Url)</th>*@
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pro in Model)
                    {
                        <tr role="row">
                            <td><img src="~/Content/Imagenes/@pro.ProvImagen" class="img-fluid img-profile rounded-circle" style="width:60px;height:60px;" /></td>
                            <td>@Html.DisplayFor(model => pro.Codigo)</td>
                            <td>@Html.DisplayFor(model => pro.Razon_Social)</td>
                            <td>@Html.DisplayFor(model => pro.RNC)</td>
                            <td>@Html.DisplayFor(model => pro.Direccion)</td>
                            <td>@Html.DisplayFor(model => pro.Telefono)</td>
                            <td>@Html.DisplayFor(model => pro.Sector_Comercial)</td>
                            <td>@Html.DisplayFor(model => pro.Email)</td>
                            @*<td>@Html.DisplayFor(model => pro.Url)</td>*@
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = pro.Id }, new { @class = "fa fa-edit" })
                                @Html.ActionLink(" ", "Details", new { id = pro.Id }, new { @class = "fa fa-th-list" })
                                @Html.ActionLink(" ", "Delete", new { id = pro.Id }, new { @class = "fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink(" Inicio", "Index", "Home", null, new { @class = "fa fa-home" })
</div>