@model IEnumerable<SistemaRepuesto.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<div class="card o-hidden border-0 shadow mb-2">
    <div class="card-body">
        <div class="col-auto float-right">
            <i class="fas fa-wrench fa-3x text-gray-300"></i>
        </div>
        <h2 class="card-title text-primary">Empleados</h2>
        @Html.ActionLink("Crear Nuevo", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-bordered dataTable table-responsive" role="grid">
                <thead>
                    <tr role="row">
                        <th>Imagen</th>
                        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Apellido)</th>
                        <th>@Html.DisplayNameFor(model => model.Cedula)</th>
                        <th>@Html.DisplayNameFor(model => model.Direccion)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefono)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.Fecha_Ingreso)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var emp in Model)
                    {
                        <tr role="row">
                            <td><img src="~/Content/Imagenes/@emp.EmpImagen" class="img-fluid img-profile rounded-circle" style="width:60px;height:60px;" /></td>
                            <td>@Html.DisplayFor(model => emp.Nombre)</td>
                            <td>@Html.DisplayFor(model => emp.Apellido)</td>
                            <td>@Html.DisplayFor(model => emp.Cedula)</td>
                            <td>@Html.DisplayFor(model => emp.Direccion)</td>
                            <td>@Html.DisplayFor(model => emp.Telefono)</td>
                            <td>@Html.DisplayFor(model => emp.Email)</td>
                            <td>@Html.DisplayFor(model => emp.Fecha_Ingreso)</td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = emp.Id }, new { @class = "fa fa-edit" })
                                @Html.ActionLink(" ", "Details", new { id = emp.Id }, new { @class = "fa fa-th-list" })
                                @Html.ActionLink(" ", "Delete", new { id = emp.Id }, new { @class = "fa fa-trash" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink(" Inicio", "Index", "Home", null, new { @class = "fa fa-home" })
</div>