@model SistemaRepuesto.Models.EmpresaConfig

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<hr />
<div class="container-fluid">
    <div class="row offset-4">
        <div class="card o-hidden border-bottom-primary shadow-lg h-100" style="width:18rem;">
            <img src="~/Content/Imagenes/@Model.ArchivoLogo" class="card-img-top w-100 h-50" />

            <div class="card-body">
                <h5 class="card-title text-gray-500"><b>@Model.NombreEmpresa</b></h5>
                <p class="card-text text-gray-500">
                    <b>RNC: </b>@Html.DisplayFor(model => model.RNC)
                <p />
                <p class="card-text text-gray-500">
                    <b>ITBIS: </b>@Html.DisplayFor(model => model.TasaItbisActual)
                <p />

                <p class="card-text">
                    @Html.ActionLink(" Editar", "Edit", new { id = Model.EmpresaID }, new { @class = "fa fa-edit" })
                <p />

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-outline-primary btn-block" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<p>
  @Html.ActionLink(" Back to List", "Index", null, new { @class = "fa fa-home" })
</p>
